.puzzleboard_holder {
	/*background: url('../Images/puzzleboard_bg.png') no-repeat;*/
	/*background: url('https://cdn.glitch.global/a7d5a62e-3fb6-4d15-a49b-bbf78da026bd/LATEST.jpg?v=1693731281544') no-repeat;*/
  background-color: black;
	background-position: center;
	background-size: cover;
	width:100vw;
	height:56.25vw;
	top:0vw;
	left:0vw;
}

.puzzleboard {
	width:85.2vw;
	height:29.6vw;
	top:13.5vw;
	left:7.3vw;
}

.letter {
	background-image: url("../Images/green_letter.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color:black;
	text-align:center;
	font-family:'Neue Helvetica Condensed 87 Heavy';
	font-size:5vw;
	border-width:0.5vw 0.2vw;
	border-style: solid;
	border-color: transparent;
	border-collapse: collapse;
	width:4.8vw;
	height:6.4vw;
}

.letter div {
	width:4.8vw;
	height:6.4vw;
	line-height:0vw;
}

#letter_1, #letter_16, #letter_49, #letter_64 {
	background-image: none;
}

.camera_source {
  width:100%;
  height:100%;
  top:0%;
  left:0%;
  opacity:0;
}

.camera_source:fullscreen {
  max-width: none;
  width: 100%;
}

.camera_source:-webkit-full-screen {
  max-width: none;
  width: 100%;
}

.camera_source video {
  width:100%;
}

.backdrop {
	/*background: url('https://cdn.glitch.global/a7d5a62e-3fb6-4d15-a49b-bbf78da026bd/447843344_851099847035300_6053132700727479077_n.jpg?v=1718195100962') no-repeat;*/
  background-color: black;  
	background-position: center;
	background-size: cover;
	width:100vw;
	height:56.25vw;
	top:0vw;
	left:0vw;
	opacity:0;
}